/* GLOBAL SIDEBAR STYLE  */
*{
  font-family: 'Inter', sans-serif;
   margin: 0;
    padding: 0;
     overflow: hidden;
}
:root {
  --sidebar-bg: #121212;      /* main dark background */
  --hover-bg: #1e1e1e;        /* hover color for links */
  --active-color: #941614;    /* bright red for active menu */
  --text-light: #ffffff;      /* white text */
}


.sidebar {
  width: 20%;
 background-color: var(--sidebar-bg);
  color: var(--text-light);
  /* display: flex; */
  /* flex-direction: column; */
  padding: 24px 16px;
  height: 100%;
}

/* BRAND AREA */
.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand .logo {
  font-size: 26px;
  color: #f5f5f5;
}

.brand-text h2 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.brand-text p {
  font-size: 14px;
  color: #aaa;
  margin-top: 2px;
}

/* NAVIGATION SECTION */
.nav-section {
  margin-top: 20px;
}

.nav-title {
  font-size: 12px;
  color: #aaa;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

/* Main links */
.nav-list li a,
.submenu-label {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  transition: background 0.3s;
  
}

.nav-list li a i,
.submenu-label i {
  margin-right: 10px;
  width: 18px;
}

/* Hover + active */

.nav-list li:hover a,
.submenu-label:hover {
  background-color: var(--hover-bg);
}

.nav-list li.active a {
  background-color: var(--active-color);

}

/* LOGOUT BUTTON */
.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  padding: 10px 12px;
  cursor: pointer;
  border-top: 1px solid #2a2a2a;
  margin-top: 20px;
}

.logout:hover {
   background-color: var(--hover-bg);
}

/* ===== SUBMENU ===== */

/* Hide checkbox visually */
.toggle-input {
  display: none;
}

/* Default collapsed */
.submenu-items {
  display: none;
  flex-direction: column;
  background: #1a1a1a;
  margin-left: 20px;
  border-left: 2px solid #2a2a2a;
}

/* Expand when checked */
.toggle-input:checked ~ .submenu-items {
  display: flex;
}

/* Submenu links */
.submenu-items li a {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
  transition: background 0.3s;
  
}

.submenu-items li a i {
  margin-right: 8px;
  font-size: 12px;
}

/* Active submenu item */
.submenu-items li.active a {
   background: var(--active-color);
  color: var(--text-light);
}

/* Hover inactive */
.submenu-items li a:hover {
  background: #2d2d2d;
  color: #fff;
}
